asttokens==2.4.1
blinker==1.7.0
click==8.1.7
decorator==5.1.1
dnspython==2.5.0
dominate==2.9.1
dynaconf==3.2.4
exceptiongroup==1.2.0
executing==2.0.1
Flask==3.0.2
Flask-Admin==1.6.1
-e git+ssh://git@github.com/vitor-o-s/linuxtips_python_web.git@b290213903f72c336bdc912938ddbbdebb3a2e14#egg=flask_blog&subdirectory=example/day02/flask
Flask-Bootstrap==3.3.7.1
Flask-PyMongo==2.3.0
flask-shell-ipython==0.5.1
flask-simplelogin==0.1.2
Flask-WTF==1.2.1
gunicorn==21.2.0
ipython==8.21.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mistune==3.0.2
packaging==23.2
parso==0.8.3
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pymongo==4.6.1
six==1.16.0
stack-data==0.6.3
traitlets==5.14.1
visitor==0.1.3
wcwidth==0.2.13
Werkzeug==3.0.1
WTForms==3.1.2
